.container {
  margin-top: 70px;
}

.overflow {
  overflow: visible;
}

.label {
  overflow: visible;
}

.root {
  overflow: visible;
}

.container {
  max-width: 900px;
  width: 100%;
}

.sectionRow td {
  background: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-gray-7)
  );
  font-weight: 600;
}

.rowHover:hover {
  background: light-dark(rgba(34, 139, 230, 0.1), rgba(255, 206, 0, 0.1));
  transition: background 0.2s;
}

.checkboxHover:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.icon {
  fill: var(--mantine-color-gray-4);
}

.iconActive {
  fill: light-dark(
    var(--mantine-color-blue-filled),
    var(--mantine-color-yellow-5)
  );
}

.popularLabel {
  --indicator-color: light-dark(
    var(--mantine-color-blue-filled),
    var(--mantine-color-yellow-5)
  );
  --indicator-text-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-9)
  );

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 8px;
  }
}

.indicatorLabel {
  --indicator-color: light-dark(
    var(--mantine-color-blue-filled),
    var(--mantine-color-yellow-5)
  );
  --indicator-text-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-9)
  );
}

.optionBadge {
  background: light-dark(rgba(34, 139, 230, 0.15), rgba(255, 206, 0, 0.2));

  color: light-dark(
    var(--mantine-color-blue-filled),
    var(--mantine-color-yellow-5)
  );
}
