.header {
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover {
  cursor: pointer;
  text-decoration: none;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.icon {
  width: 22px;
  height: 22px;
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.card {
  position: relative;
  overflow: hidden;
  height: 60px;
  max-height: 80px;
  transition: transform 200ms ease;
}

.imageWrapper {
  position: absolute;
  inset: 0;
  clip-path: polygon(0 0, 25% 0, 17% 100%, 0 100%);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.55);
  transition: opacity 200ms ease;
}

.content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: flex-end;
  text-align: left;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}

.card:hover .overlay {
  opacity: 0;
}

.imageWrapper img {
  transition: transform 200ms ease;
}

.card:hover img {
  transform: scale(1.02);
}

[data-mantine-color-scheme="light"] .card:hover {
  border-color: var(--mantine-color-blue-6);
}

[data-mantine-color-scheme="dark"] .card:hover {
  border-color: var(--mantine-color-yellow-5);
}
